html {
    margin: 1em;
    background-color: #040;
    font-family: "latin modern roman", Garamond, Georgia, "Times New Roman", Times, sans-serif;
    color: black;
    font-size: 1.6em;
}
body {
    max-width: 30cm;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: white;
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}
img {
    max-width: 100%;
}
math {
    font-size: 1rem;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-right: 0.5em;
    font-size: 1rem;
}
input {
    font-size: 1rem;
}
select {
    font-size: 1rem;
}
textarea {
    display: inline-block;
    float: left;
    font-size: 1rem;
}
button {
    font-size: 1rem;
}
p {
    page-break-inside: avoid;
}
@page {
    size: A4;
    margin: 0;
    margin-bottom: 1cm;
}
@page :first {
    margin-top: 0;
}
@media print {
    html, body {
        width: 21cm;
        height: 29.7cm;
    }
    .no-print, .no-print
    {
        display: none !important;
    }
}
