<!doctype html>
<html id="html">
    <head>
        <title>TeXerBase Exercise Database</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{{ relroot }}static/polar.css" />
        <link rel="stylesheet" type="text/css" href="{{ relroot }}static/main.css" />
        <link rel="icon" type="image/svg+xml" href="{{ relroot }}static/favicon.svg" sizes="any" />
    </head>
    <body id="body">
        <p id="nav" class="no-print" style="width:100%; background-color:080; text-align:right;">
            <a href="{{ relroot }}" style="font-size:0.6em;">Home</a> | 
            <a href="{{ relroot }}images/" style="font-size:0.6em;">Images</a> | 
            <a href="{{ relroot }}imgUpload/" style="font-size:0.6em;">Image Upload</a> | 
            <a href="{{ relroot }}mdTeXCheatsheet" style="font-size:0.6em;">mdTeX-Cheatsheet</a> | 
            <a href="{{ relroot }}svgCheatsheet" style="font-size:0.6em;">svg-Cheatsheet</a> | 
            <a href="javascript:void(0)" style="font-size:0.6em;" onclick="printView()">printView</a>
        </p>
        {% block content %}content{% endblock %}
        <p style="font-size:0.6em; text-align:right;">TeXerBase (c) 2019-2022 by Dirk Winkel - licenced unter GPL v3 or later - <a href="https://github.com/polarwinkel/TeXerBase/" target="_blank">fork me on GitHub</a></p>
    </body>
    <script src="{{ relroot }}static/printView.js"></script> 
</html>
