{% extends 'base.html' %}

{% block content %}

<script src="{{ relroot }}static/plotLine.min.js"></script> 
<script>
function runInnerHtmlJs(element) {
    elements = element.querySelectorAll('script');
    for (var i=0; i<elements.length; i++) {
        var oldScript = elements[i];
        var newScript = document.createElement('script');
        Array.from(oldScript.attributes).forEach( attr => newScript.setAttribute(attr.name, attr.value) );
        newScript.appendChild(document.createTextNode(oldScript.innerHTML));
        oldScript.parentNode.replaceChild(newScript, oldScript);
    }
}
function loadExercise(eid) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ relroot }}getExerciseHtml');
    xhr.setRequestHeader("Content-Type", "text/text");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 0 || (xhr.status >= 200 && status < 400)) {
                exer = xhr.responseText;
                var etr = document.getElementById('etr'+eid);
                etr.cells[0].innerHTML = '<a onclick="unloadExercise('+eid+')">-</a>';
                etr.cells[1].innerHTML += '<hr>' + exer;
                runInnerHtmlJs(etr.cells[1]);
            }
        }
    }
    xhr.send(eid);
}
function unloadExercise(eid) {
    var etr = document.getElementById('etr'+eid);
    etr.cells[0].innerHTML = '<a onclick="loadExercise('+eid+')">+</a>';
    var pos = etr.cells[1].innerHTML.search('<hr>');
    etr.cells[1].innerHTML = etr.cells[1].innerHTML.substring(0,pos-1);
}
</script>

{{ content|safe }}

{% endblock %}
