{% extends 'base.html' %}

{% block content %}

<script src="{{ relroot }}static/plotLine.min.js"></script> 
<script>
var subjects = JSON.parse('{{ subjects|safe }}');
var topics = JSON.parse('{{ topics|safe }}');
var exes = JSON.parse('{{ exes|safe }}');

function move(tid, eid, direction, elem) {
    var ttable = elem.parentNode.parentNode.parentNode.parentNode;
    var xhr = new XMLHttpRequest();
    xhr.open('PATCH', '{{ relroot }}changeZ');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 0 || (xhr.status >= 200 && status < 400)) {
                res = xhr.responseText;
                ttable.innerHTML = res;
            }
        }
    }
    job = {'tid': tid, 'eid': eid, 'direction': direction};
    xhr.send(JSON.stringify(job));
}
function runInnerHtmlJs(element) {
    elements = element.querySelectorAll('script');
    for (var i=0; i<elements.length; i++) {
        var oldScript = elements[i];
        var newScript = document.createElement('script');
        Array.from(oldScript.attributes).forEach( attr => newScript.setAttribute(attr.name, attr.value) );
        newScript.appendChild(document.createTextNode(oldScript.innerHTML));
        oldScript.parentNode.replaceChild(newScript, oldScript);
    }
}
function loadExercise(eid) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ relroot }}getExerciseHtml');
    xhr.setRequestHeader("Content-Type", "text/text");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 0 || (xhr.status >= 200 && status < 400)) {
                exer = xhr.responseText;
                var etr = document.getElementById('etr'+eid);
                etr.cells[0].innerHTML = '<a onclick="unloadExercise('+eid+')">&minus;</a>';
                etr.cells[2].innerHTML += '<hr>' + exer;
                runInnerHtmlJs(etr.cells[2]);
            }
        }
    }
    xhr.send(eid);
}
function unloadExercise(eid) {
    var etr = document.getElementById('etr'+eid);
    etr.cells[0].innerHTML = '<a onclick="loadExercise('+eid+')">&plus;</a>';
    var pos = etr.cells[2].innerHTML.search('<hr>');
    etr.cells[2].innerHTML = etr.cells[2].innerHTML.substring(0,pos-1);
}
function loadExerciseLists(filter) {
    for (t of topics) {
        var out = '<table><tr><th style="width:1em;"></th><th style="width:2em;"></th><th style="width:80%">Title</th><th>Skill</th></tr>';
        for (e of exes) {
            if (e.topicId == t.id) {
            out += '<tr id="etr'+e.id+'">';
            out += '<td style="vertical-align: top;"><a onclick="loadExercise('+e.id+')">+</a></td>\n'
            out += '<td><a onclick="move('+t.id+', '+e.id+', -1, this)">&uarr;</a>'
            out += '/<a onclick="move('+t.id+', '+e.id+', 1, this)">&darr;</a></td>\n'
            out += '<td><a href="./exercise/'+e.id+'">'+e.title+'</a></td>\n'
            out += '<td>'+e.difficulty+'</td>\n'
            out += '</tr>\n'
            }
        }
        out += '</table>\n';
        document.getElementById('t'+t.id).innerHTML = out;
    }
}
</script>

<h1>TeXerBase Exercise Database</h1>
<h2>Exercises:</h2>
<script>
    for (s of subjects) {
        document.write('<details><summary style="font-size:1.4em; font-weight: bold;">'+s.subject+'</summary><ul>');
        for (t of topics) {
            if (t.subjectId == s.id) {
                document.write('<li><details><summary>'+t.topic+'</summary>');
                document.write('<div id="t'+t.id+'">loading exerciseList...</div>');
                document.write('</details>');
            }
        }
        document.write('</details>\n');
    }
    document.write('<p><a href="./exercise/">Create New Exercise</a></p>');
    document.write('<h2>Create New Sheet:</h2>\n');
    for (s of subjects) {
        document.write('<p><a href="sheetNew/'+s.id+'">'+s.subject+'</a></p>\n');
    }
    loadExerciseLists('');
</script>

{% endblock %}
