{% extends 'base.html' %}

{% block content %}
<script src="{{ relroot }}static/plotLine.min.js"></script> 
<script>
function buildUrl() {
    var title = document.getElementById('title').value;
    if (document.getElementById('solutions').checked==true) {
        var type = 'solutions';
    } 
    else if (document.getElementById('source').checked==true) {
        var type = 'source';
    } 
    else {var type='exercises';}
    var exercises = '';
    var exerChecks = document.getElementsByClassName('exerCheck');
    for (var i=0; i<exerChecks.length; i++) {
        if (exerChecks.item(i).checked == true) {
            exercises = exercises+exerChecks[i].value+',';
        }
    }
    url = '../sheet/' + title + ';'+ exercises+';'+type+';';
    document.getElementById('sheetUrl').value = url;
    document.getElementById('sheetLink').href = url;
}
function runInnerHtmlJs(element) {
    elements = element.querySelectorAll('script');
    for (var i=0; i<elements.length; i++) {
        var oldScript = elements[i];
        var newScript = document.createElement('script');
        Array.from(oldScript.attributes).forEach( attr => newScript.setAttribute(attr.name, attr.value) );
        newScript.appendChild(document.createTextNode(oldScript.innerHTML));
        oldScript.parentNode.replaceChild(newScript, oldScript);
    }
}
function loadExercise(eid) {
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ relroot }}getExerciseHtml');
    xhr.setRequestHeader("Content-Type", "text/text");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 0 || (xhr.status >= 200 && status < 400)) {
                exer = xhr.responseText;
                var etr = document.getElementById('etr'+eid);
                etr.cells[1].innerHTML = '<a onclick="unloadExercise('+eid+')">-</a>';
                etr.cells[2].innerHTML += '<hr>' + exer;
                runInnerHtmlJs(etr.cells[2]);
            }
        }
    }
    xhr.send(eid);
}
function unloadExercise(eid) {
    var etr = document.getElementById('etr'+eid);
    etr.cells[1].innerHTML = '<a onclick="loadExercise('+eid+')">+</a>';
    var pos = etr.cells[2].innerHTML.search('<hr>');
    etr.cells[2].innerHTML = etr.cells[2].innerHTML.substring(0,pos-1);
}
</script>

<h1>Aufgabenblatt erstellen</h1>
<label for="title">Titel: </label><input name="title" id="title" onchange="buildUrl()" /><br />
<label for="exercises">Aufgaben </label><input type="radio" name="type" id="exercises" value="exercises" onchange="buildUrl()" checked><br />
<label for="solutions">Lösungen </label><input type="radio" name="type" id="solutions" value="solutions" onchange="buildUrl()" /><br />
<label for="source">mdTeX-Quelltext </label><input type="radio" name="type" id="source" value="source" onchange="buildUrl()" /><br />
<label for="sheetUrl">URL: </label><input name="sheetUrl" id="sheetUrl" disabled />
<p><a href="" id="sheetLink">zum Aufgabenblatt</a></p>
<h2>Vorhandene Aufgaben</h2>
{% for topic in topics %}
    <h3>{{ topic['topic'] }}</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>+</th>
            <th style="width:70%">Titel</th>
            <th>Schwierigkeit</th>
        </tr>
        {% for exe in exerlist %}
            {% if exe['topicId']==topic['id'] %}
                <tr id="etr{{ exe['id'] }}">
                    <td><input type="checkbox" class="exerCheck" value="{{ exe['id'] }}" onchange="buildUrl()" />{{ exe['id'] }}</td>
                    <td style="vertical-align: top;"><a onclick="loadExercise({{ exe['id'] }})">+</a></td>
                    <td><a href="../exercise/{{ exe['id'] }}">{{ exe['title'] }}</a></td>
                    <td>{{ exe['difficulty'] }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}
